<div class="container-fluid" *ngIf="entities != null">
    <div [@animEnterLeave] class="box">
        <div class="row d-flex justify-content-center">
            <h3>Progression</h3>
        </div>
        <div cdkDropListGroup class="row d-flex justify-content-center">
            <div [@animEnterLeave] *ngFor="let entites of entityCols; index as i; trackBy: trackByFn" cdkDropList
                id="{{ dropListData[i] }}" [cdkDropListData]="entites" class="drag-list col"
                [cdkDropListConnectedTo]="dropListConnectors[i]" (cdkDropListDropped)="drop($event)">
                <h4 class="col">{{ headers[i] }}</h4>
                <div [@animEnterLeave] *ngFor="let entity of entites; index as a;trackBy: trackByFn" cdkDrag
                    class="drag-box" [cdkDragDisabled]="dragDisabled">
                    <div class="placeholder" *cdkDragPlaceholder>Test</div>
                    <div class="container">
                        <div class="row">
                            <app-form-input-field-action [entityId]="entity.id" [content]="entity.year"
                                [placeholder]="'add knowledge'" (submitEvent)="onSubmitYear($event)"
                                (focusEvent)="onFocus($event)" (blurEvent)="onBlur($event)"
                                (deleteEvent)="onDelete($event)" [isEditDisabled]="editDisabled">
                            </app-form-input-field-action>
                        </div>
                        <div class="row">
                            <app-form-input-field-action [entityId]="entity.id" [content]="entity.header"
                                [isDeleteButtonHidden]="true" [placeholder]="'add knowledge'" [bold]="true"
                                (submitEvent)="onSubmitHeader($event)" (focusEvent)="onFocus($event)"
                                (blurEvent)="onBlur($event)" (deleteEvent)="onDelete($event)"
                                [isEditDisabled]="editDisabled">
                            </app-form-input-field-action>
                        </div>
                        <div class="row">
                            <app-form-textarea [entityId]="entity.id" [content]="entity.description"
                                [placeholder]="'add knowledge'" [isDeleteButtonHidden]="true"
                                (submitEvent)="onSubmitDescription($event)" (focusEvent)="onFocus($event)"
                                (blurEvent)="onBlur($event)" (deleteEvent)="onDelete($event)"
                                [isEditDisabled]="editDisabled">
                            </app-form-textarea>
                        </div>
                    </div>

                </div>
                <div [@animEnterLeave] *ngIf="entites != null && entites.length < maxRows && !editDisabled"
                    class="row d-flex justify-content-center">
                    <button class="btn-margin" color='primary' mat-flat-button (click)="onAddEntity(entites, i)"
                        type="button" [disabled]="isLoading$ | async">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

            <div *ngIf="entityCols.length < maxCols && !editDisabled" class="col d-flex justify-content-center">
                <button mat-flat-button class="btn-margin" color="primary" (click)="onAddCol()" type="button"
                    [disabled]="isLoading$ | async">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div [@animEnterLeave] *ngIf="editDisabled" class="row d-flex justify-content-center">
            <a><button mat-flat-button class="btn-margin" color="primary" type="button"
                    routerLinkActive="list-item-active" [routerLink]="['/module/progression']">
                    <mat-icon>edit</mat-icon>
                </button>
            </a>
        </div>
    </div>
</div>