    @import './../../../../../assets/scss/layout-mixins';

    :host {
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        @include buttons();
    }